{% extends "base.html" %}

{% block title %}Coming Soon (AI) - Alexis Kirke{% endblock %}

{% block content %}
    <section id="coming-soon">
        <div style="text-align: center;">
            <h1>Coming Soon (AI)</h1>
            <p>An app that uses AI.</p>
        </div>
        <!-- Placeholder for Coming Soon content -->
        <div class="coming-sooncontent" style="text-align: center;">
            <p>Content for the Coming Soon will be added here.</p>
        </div>
    </section>
{% endblock %}
